
.controlIsFixed () {
	position: fixed;
	right: 50px;
	bottom: 50px;	
}


#control {

	width: 192px;
	height: 192px;		
	z-index: 100;
	cursor: pointer;	
	position: relative;
	
	margin-top: -192px;
	margin-right: 20px;
	float: right;
	
	.controlIsFixed();
	
	&:before {
		background: url("/src/img/knob.png") no-repeat center center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		content: "";
		
		// -webkit-transition: all .3s;
		//    -moz-transition: all .3s;
		//     -ms-transition: all .3s;
		//      -o-transition: all .3s;
		//         transition: all .3s;
	}

	&:after {
		width: 152px;
		height: 152px;
		border: 1px solid white;
		left: 20px;
		right: 20px;
		bottom: 20px;
		top: 20px;
		content: "";
		position: absolute;
		border-radius: 100%;
		
	}
}