@import (less) "npm://normalize.css/normalize.css";


@import "./control.less";


body {
	overflow: hidden;
}

#gameCanvas {
	width: 100%;
	height: 100%;
	touch-action: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 0;
}